/* importing Bourbon */
@import 'bourbon/bourbon';
/* importing Bourbon Neat */
@import 'neat/neat';
/* importing vars index */
@import 'vars/-vars-index';
/* importing sections index */
@import 'sections/-sections-index';

	/*== SASS MIX-INS ==*/


/*===== GLOBAL STYLES =====*/

html {
  font-size: 62.5%;
}

main.content {
  margin-top: -80px;
  font-family: $primary-font-stack;
}

span.hidden-text {
  margin-left: -9999px;
}

/*=== BEGIN GLOBAL MEDIA QUERIES ===*/

/* Smallest devices (phone, 768px and below) */
@media (max-width: 768px) {

}

/* Small devices (tablets, 768px to 992px) */
@media (min-width: 768px) and (max-width: 992px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
