---
---

<!DOCTYPE html>
<html>

	<head>
		{% include head.html %}
	</head> <!-- end head -->

	<body>

		{% include navbar.html %}

    <!--========== BEGIN CONTENT ==========-->
		<main class="content">

			<!--===== BEGIN HERO =====-->
			<section class="hero">
				<div class="container">

					<h1>Case management &nbsp;North Carolina Needs</h1>

					<p class="subtitle">Critical Time Intervention (CTI) is a case management model the <a href="http://unc.edu">University of North Carolina</a> has piloted over the last two years. Now we're ready to share the results.</p>

					<a class="call-to-action" href="/themodel">Learn more about the model</a>

				</div>
			</section> <!-- end .hero -->

			<!--===== BEGIN EXPOSITION =====-->
			<section class="exposition">
				<div class="container">

					<div class="sub-nav">

						<div class="col-4">
							<h5>Connect with services</h5>
							<img src="/images/" width="100%" height="100%" />
							<a class="sub-call-to-action" href="/contact">Services</a>
						</div> <!-- end .col-4 -->

						<div class="col-4">
							<h5>The model</h5>
							<img src="/images/" width="100%" height="100%" />
							<a class="sub-call-to-action" href="/themodel">Model</a>
						</div> <!-- end .col-4 -->

						<div class="col-4">
							<h5>The Center</h5>
							<img src="/images/" width="100%" height="100%" />
							<a class="sub-call-to-action" href="http://www.med.unc.edu/psych/cecmh">CECMH</a>
						</div> <!-- end .col-4 -->

					</div> <!-- end .sub-nav -->

					<div class="col-6">
						<h2>Lorem ipsum dolor sit amet</h2>
						<p>Suspendisse diam metus, finibus a nisi tempor, dapibus rutrum ante. Integer at nibh neque. Pellentesque volutpat eleifend egestas. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam mollis ligula lorem, ac finibus lacus venenatis non.</p>
					</div> <!-- end .col-6 -->

					<div class="col-6">
						<h2>Praesent nisl massa</h2>
						<p>Donec nec nulla non leo iaculis consequat. Phasellus rutrum leo non justo pulvinar, non sodales nunc iaculis. Cras lobortis tortor lacinia massa sollicitudin aliquam.</p>
						<p>Mauris maximus a lectus at commodo. Praesent nec dignissim quam ipsum dipsum.</p>
					</div> <!-- end .col-6 -->

				</div>
			</section> <!-- end .exposition -->

			<!--========== BEGIN ASIDE ==========-->
			<aside>

				<h3>Lorem ipsum dolor sit amet</h3>
				<p>Donec posuere dui augue, nec pretium quam interdum at.
				Maecenas eu nunc purus. <em>Suspendisse potenti</em>.</p>

			</aside> <!-- end aside -->

			<!--========== BEGIN PARTNERS ==========-->
			<section class="partners">
				<div class="container">

					<h4>Quisque metus purus</h4>

					<div class="col-4">
						<h5>Cardinal Innovations</h5>
						<a href="#" class="partner-link" id="ci">Cardinal Innovations Healthcare</a>
					</div> <!-- end .col-4 -->

					<div class="col-4">
						<h5>NC DHHS</h5>
						<a href="#" class="partner-link" id="ncdhhs">NC Health and Human Services</a>
					</div> <!-- end .col-4 -->

					<div class="col-4">
						<h5>KB Reynolds Charitable Trust</h5>
						<a href="#" class="partner-link" id="kbr">Kate B. Reynolds Charitable Trust</a>
					</div> <!-- end .col-4 -->

				</div>
			</section> <!-- end .partners -->

		</main> <!-- end .content -->

		{% include footer.html %}

		{% include scripts.html %}

	</body>

</html>
