<!--========== BEGIN FOOTER ==========-->
<footer>
  <div class="container">

    <div class="col-3">
      <a class="logo cecmh" href="http://www.med.unc.edu/psych/cecmh"><span class="hidden-text">UNC Center for Excellence in Community Mental Health</span></a>
      <a class="logo unc" href="http://www.unc.edu/"><span class="hidden-text">The University of North Carolina at Chapel Hill</span></a>
    </div> <!-- end .col-3 -->

    <div class="col-3">
      <h6>Lorem ipsum dolor sit</h6>
      <a href="#">Morbi sagittis augue</a>
      <a href="#">Etiam elit tortor ultrices</a>
      <a href="#">Class aptent taciti</a>
      <a href="#">Donec ipsum diam</a>
      <a href="#">Vestibulum auctor lorem vel</a>
    </div> <!-- end .col-3 -->

    <div class="col-3">
      <h6>Class aptent</h6>
      <a href="#">Class aptent taciti sociosqu</a>
      <a href="#">Curabitur non solades est</a>
      <a href="#">Nam rhoncus non ligula</a>
      <a href="#">Pellentesque risus sem</a>
    </div> <!-- end .col-3 -->

    <div class="col-3">
      <h6>Etiam elit tortor</h6>
      <a href="#">Donec ipsum diam</a>
      <a href="#">Curabitur sit amet ornare</a>
      <a href="#">Maecenas vulputate blandit erat</a>
      <a href="#">Donec interdum eros a viverra</a>
      <a href="#">Duis bibendum nunc id vulputate</a>
      <a href="#">Curabitur non sodales est</a>
    </div> <!-- end .col-3 -->

  </div>
</footer> <!-- end footer -->
