<nav class="navbar transparent navbar-inverse navbar-inner" role="navigation">

  <div class="container-full container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span>UNC CTI Project</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="icon ion-person-stalker"></i>The team</a></li>
        <li><a href="#"><i class="icon ion-stats-bars"></i>The model</a></li>
        <li><a href="/contact"><i class="icon ion-chatbox"></i>Contact</a></li>
      </ul>
    </div> <!-- end .navbar-collapse -->

  </div> <!-- end .container -->

</nav> <!-- end .navbar-default -->
