/*== SASS COLOR VARIABLES ==*/

$carolina-blue: #7bafd4;
$carolina-blue-dark: #6296bb;
$navy-blue: #091725;
$light-gray: #dedede;
$medium-gray: #787878;
$dark-gray: #252525;
$green:	#4DB24C;
$green-dark: #349933;
