h1 {
  font-size: 4.2rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 0;
}

  @media (max-width: $smallest-screen-width) {

    h1 {
      font-size: 3rem;
    }

  }

h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
}

  h2:after {
    content: "";
    margin-top: 2rem;
    display: block;
    width: 3rem;
    height: .2rem;
    background: $navy-blue;
  }

h3 {
  margin-top: 0;
  font-weight: 200;
  text-transform: uppercase;
  color: $carolina-blue;
  letter-spacing: 1px;
  font-size: 1.6rem;
}

  h3:after {
    content: "";
    margin-top: 2rem;
    display: block;
    width: 1.5rem;
    height: .1rem;
    background: $carolina-blue;
  }

h4 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .25px;
}

h5 {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .25px;
  margin: 0;
  margin-bottom: 3rem;
}

main.content p {
  font-family: $secondary-font-stack;
  font-size: 1.7rem;
  color: $medium-gray;
}
