/*== MISC VARIABLES ==*/

// Margins and padding
$default-padding: 2rem;

// Screen sizes
$smallest-screen-width: 50rem;

//

// Fonts and such
$primary-font-stack: 'Open Sans', sans-serif;
$secondary-font-stack: 'Gentium Basic', serif;

// Misc
$default-transition: .2s;
