/*== MISC VARIABLES ==*/

// Margins and padding
$default-padding: 20px;

// Fonts and such
$primary-font-stack: 'Open Sans', sans-serif;
$secondary-font-stack: 'Gentium Basic', serif;

// Misc
$default-transition: .2s;
