section.exposition .container {
  padding: $default-padding;
  padding-bottom: 10rem;
}

.sub-nav {
  margin-top: -$default-padding*3; /* eliminates padding from .content */
  padding-bottom: 30rem;
}

  .sub-nav .col-4 {
    margin: 0; /* eliminates cutter between each column */
    position: relative;
    width: 33.33%;
  }

  @media (max-width: $smallest-screen-width) {

    .sub-nav .col-4 {
      width: 100%;
      margin-bottom: 4rem;
    }

  }

  .sub-nav h5 {
    display: block;
    color: white;
    max-height: 3rem;
    padding: .5rem 2rem;
    background: black;
    margin-bottom: 0;
  }

    @mixin sub-btn($color) {
      background: $color;
      box-shadow: 0 .4rem 0 lighten($color, 20%);
      border-radius: 0 0 .5rem .5rem;
    }

    .sub-nav h5#services,
    a.sub-call-to-action[href="/contact"] {
      background: $navy-blue;
    }

      a.sub-call-to-action[href="/contact"] {
        @include sub-btn($navy-blue);
      }

        a.sub-call-to-action[href="/contact"]:hover {
          @include sub-btn(darken($navy-blue, 5%));
        }

    .sub-nav h5#model,
    a.sub-call-to-action[href="/themodel"] {
      background: $carolina-blue-dark;
    }

      a.sub-call-to-action[href="/themodel"] {
        @include sub-btn($carolina-blue-dark);
      }

        a.sub-call-to-action[href="/themodel"]:hover {
          @include sub-btn(darken($carolina-blue-dark, 5%));
        }

    .sub-nav h5#center,
    a.sub-call-to-action[href="http://www.med.unc.edu/psych/cecmh"]  {
      background: $dark-gray;
    }

      a.sub-call-to-action[href="http://www.med.unc.edu/psych/cecmh"] {
        @include sub-btn($dark-gray);
      }

        a.sub-call-to-action[href="http://www.med.unc.edu/psych/cecmh"]:hover {
          @include sub-btn(darken($dark-gray, 5%));
        }


  .sub-nav img {
    display: block;
    max-width: 100%;
  }

  .sub-nav a.sub-call-to-action {
    display: block;
    position: absolute;
    right: 0;
    bottom: -2rem;
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 300;
    padding: 1rem 2rem 1rem 3.5rem;
    width: 160px;
    @include transition(all $default-transition ease);
  }

    .sub-nav a.sub-call-to-action:hover {
      text-decoration: none;
    }

    .sub-nav a.sub-call-to-action:after {
      font-family: 'Ionicons';
      content: "\f125";
      position: absolute;
      right: 0;
      top: 0;
      padding: 1rem 1.3rem;
      width: 3.5rem;
      height: 4rem;
      @include sub-btn($carolina-blue);
      border-radius: 0 0 .5rem 0;
    }

  @media (max-width: $smallest-screen-width) {

    .sub-nav a.sub-call-to-action {
      width: 100%;
      font-size: 1.8rem;
      padding: 2rem;
      text-align: center;
    }

      .sub-nav a.sub-call-to-action:after {
        padding: 2rem 4rem;
        height: 6.5rem;
      }

  }
