section.exposition .container {
  padding: $default-padding;
  padding-bottom: 10rem;
}

.sub-nav {
  margin-top: -$default-padding*3; /* eliminates padding from .content */
  padding-bottom: 30rem;
}

  .sub-nav .col-4 {
    margin: 0; /* eliminates cutter between each column */
    position: relative;
    width: 33.33%;
  }

  .sub-nav h5 {
    display: block;
    color: white;
    max-height: 30px;
    padding: 5px 20px;
    background: black;
    margin-bottom: 0;
  }

    .sub-nav h5#services,
    a.sub-call-to-action[href="/contact"] {
      background: $navy-blue;
    }

    .sub-nav h5#model,
    a.sub-call-to-action[href="/themodel"] {
      background: $carolina-blue-dark;
    }

    .sub-nav h5#center,
    a.sub-call-to-action[href="http://www.med.unc.edu/psych/cecmh"]  {
      background: $dark-gray;
    }

  .sub-nav img {
    display: block;
    max-width: 100%;
  }

  .sub-nav a.sub-call-to-action {
    display: block;
    position: absolute;
    right: 0;
    bottom: -2rem;
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 300;
    padding: 10px 0 10px 40px;
    width: 160px;
  }

    .sub-nav a.sub-call-to-action:after {
      font-family: 'Ionicons';
      content: "\f125";
      background: $carolina-blue;
      position: absolute;
      right: 0;
      top: 0;
      padding: 1rem 1.3rem;
      width: 3.5rem;
      height: 4rem;
    }
