footer {
  display: block;
  background: $dark-gray;
  color: white;
  padding: 7rem 2rem 4rem 2rem;
}

  @media (max-width: $smallest-screen-width) {

    footer .col-3 {

      margin-top: $default-padding*2;

    }

  }

  footer a {
    display: inline-block;
    margin-bottom: 1.5rem;
    font-family: $secondary-font-stack;
    font-size: 1.6rem;
    width: 100%;
    color: $medium-gray;
  }

  @media (max-width: $smallest-screen-width) {

    footer a {
      font-size: 2rem;
    }

  }

    footer a.logo {
      display: block;
      width: 100%;
      background-size: 100% !important;
    }

      footer a.logo.cecmh {
        background: url('/images/logo_cecmh.png') no-repeat center;
        height: 4.5rem;
      }

      footer a.logo.unc {
        background: url('/images/logo_unc.png') no-repeat center;
        height: 7rem;
      }

    @media (max-width: $smallest-screen-width) {

      footer a.logo {
        background-size: 70% !important;
      }

      footer a.logo.cecmh {
        height: 8rem;
      }

      footer a.logo.unc {
        height: 12rem;
      }

    }
