footer {
  display: block;
  background: $dark-gray;
  color: white;
  padding: 7rem 2rem 4rem 2rem;
}

  footer a {
    display: inline-block;
    margin-bottom: 1.5rem;
    font-family: $secondary-font-stack;
    font-size: 1.6rem;
    width: 100%;
    color: $medium-gray;
  }
