section.hero {
  background: url('/images/hero.png') no-repeat center;
  background-size: cover;
  padding-top: 14rem;
  padding-bottom: 14rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

  @media (max-width: $smallest-screen-width) {

    section.hero {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }

  }

  section.hero .container {
    padding: 0 $default-padding*2;
  }

  @media (max-width: $smallest-screen-width) {

    section.hero .container {
      padding: 0 $default-padding;
    }

  }

  section.hero:after { // angled shape in the background
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 40%;
    background: $carolina-blue-dark;
    @include linear-gradient($carolina-blue 90%, $carolina-blue-dark 100%);
    opacity: 0.8;
    width: 50%;
    height: 66rem;
    transform: skew(-40deg);
    z-index: 1;
  }

  section.hero h1,
  section.hero p {
    position: relative;
    color: white;
    @include span-columns(9);
    z-index: 3;
  }

  @media (max-width: $smallest-screen-width) {

    section.hero h1,
    section.hero p {
      @include span-columns(12);
    }

  }

  section.hero p.subtitle {
    font-size: 1.8rem;
  }

  section.hero a {
    color: white;
    text-decoration: underline;
  }

  section.hero a.call-to-action {
    display: inline-block;
    position: relative;
    max-width: 36rem;
    padding: 2rem 3.8rem 2.4rem 4rem;
    background: $green;
    text-shadow: 0 .3rem 1rem darken($green-dark, 5%);
    box-shadow: inset 0 -.6rem $green-dark;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.4rem;
    border-radius: 1rem;
    @include span-columns(8);
    z-index: 2;
    @include transition(all $default-transition ease);
  }

    section.hero a.call-to-action:after {
      font-family: 'Ionicons';
      content: "\f125";
      position: absolute;
      right: 0;
      top: 0;
      padding: 2rem 3rem 2.4rem 3rem;
      border-left: 2px solid $green-dark;
      border-radius: 0 1rem 1rem 0;
      background: $green;
      //@include background(linear-gradient($green-dark 0%, $green 100%));
      text-shadow: 0 .3rem 1rem darken($green-dark, 5%);
      box-shadow: inset 0 -.6rem $green-dark;
    }

    @media (max-width: $smallest-screen-width) {

      section.hero a.call-to-action {
        @include span-columns(12);
        max-width: 100%;
      }

    }

    @media (max-width: 45rem) {

      section.hero a.call-to-action {
        text-align: center;
      }

      section.hero a.call-to-action:after {
        display: none;
      }

    }

    @media (max-width: 25rem) {

      section.hero a.call-to-action {
        padding: 1.5rem 1rem 1.5rem 1rem;
      }

    }

  section.hero a.call-to-action:hover {
    background: lighten($green-dark, 10%);
    @include transition(all $default-transition ease);
  }
